@charset "utf-8";

html, body {height:100%;} 

body {
	margin     :0;
	padding    :0;
	background :#EBEBEB;
	color      :#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size  :12px;
	text-align :center;
}

/*### Corpo da Documento: Pgina ###*/
#pagina { 
	width       :850px;
	position    :relative;
	background  :#fff;
	margin      :0 auto;
	text-align  :left;
	min-height  :100%;
	border      :solid #abdfbf;
	border-width:0 1px;
}
* html #pagina {min-height: 100%;}

/*### Cabealho para Logo do Pet Imagem ###*/
/*
#cabecalho {
	width      :850px;
	height     :100px;
	padding-top:1px;
	background :#FFF url(../image/petimagem_logo_c_850.jpg) top left no-repeat;
}
*/
#cabecalho {
	width      :850px;
	height     :25px;
	padding-top:1px;
}

/*### Pgina principal para o Layout ###*/
#principal {
	margin        :0 auto;
	margin-top    :5px;
	padding-top   :5px;
	padding-bottom:35px;
	width         :785px;
	text-align    :justify;
}
#texto{
	margin       :0 auto;
	margin-bottom:60px;
	width        :100%;
}
.clear {clear:both;}

/*### Rodape ###*/
/*
#rodape {
	position  :absolute;
	bottom    :0;
	width     :850px;
	height    :100px;
	background: url(../image/petimagem_logo_r_850.jpg) top left no-repeat;
}
*/
#rodape {
	position  :absolute;
	bottom    :0;
	width     :850px;
	height    :15px;
}

/*### A F & R TI ###*/
#aferti{
	position:fixed;
	bottom  :2px;
	right   :2px;
}